section.number
    .container 
        .number-list 
            +numberItem("42","Web design project")
            +numberItem("123","Clients")
            +numberItem("15","Award winner")
            +numberItem("99","Cups of coffee")
            +numberItem("24","Member")