section.service 
    .container
        +blockBox("We work with", "Amazing Services")
        .service-container
            .service-list 
                +serviceItem("./images/img-service-icon1.png","Photography2","Lorem, ipsum dolor sit amet consectetur adipisicing elit.") 
                +serviceItem("./images/img-service-icon2.png","Web design","Lorem, ipsum dolor sit amet consectetur adipisicing elit.") 
                +serviceItem("./images/img-service-icon3.png","Creativity","Lorem, ipsum dolor sit amet consectetur adipisicing elit.") 
            .service-list 
                +serviceItem("./images/img-service-icon4.png","Seo","Lorem, ipsum dolor sit amet consectetur adipisicing elit.") 
                +serviceItem("./images/img-service-icon5.png","CSS/HTML","Lorem, ipsum dolor sit amet consectetur adipisicing elit.") 
                +serviceItem("./images/img-service-icon6.png","Digital","Lorem, ipsum dolor sit amet consectetur adipisicing elit.") 