section.team
    .container 
        +blockBox("Who we are", "Meet out team", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur")
        .team-list 
            +teamItem()
                +teamSocial("#Evondev")
            +teamItem("./images/img-team2.png","Christopher Cambell","Branding UX/Design")
                +teamSocial("#")
            +teamItem("./images/img-team3.png","Michael Fertig","Developer")
                +teamSocial("#")
section.brand 
    .container 
        img(src="./images/img-logos.png" alt="brand")