section.quote 
    .container 
        .quote-container
            //- i.fal.fa-angle-left.quote-arrow-left.quote-arrow
            +quoteItem("./images/img-quote-avatar.png", true)
            +quoteItem("./images/img-quote-avatar.png", true)
            +quoteItem("./images/img-quote-avatar.png", true)