section.work 
    .container 
        +blockBox("What we do", "Some of our work", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.")

    .work-grid
        +workItem()
        +workItem("./images/img-work2.png","fa fa-cog", "UX/UI Designer", "Lorem ipsum dolor sit")
        +workItem("./images/img-work3.png","fa fa-camera", "Frontend Developer", "Lorem ipsum dolor sit")
        +workItem("./images/img-work4.png","fa fa-cloud", "Backend Developer", "Lorem ipsum dolor sit")
        +workItem("./images/img-work5.png","fa fa-heart", "Super heart","work-item--full", "Lorem ipsum dolor sit")
        +workItem("./images/img-work6.png","fa fa-bug", "Creatively designed", "Lorem ipsum dolor sit")
        +workItem("./images/img-work7.png","fa fa-wind", "Programing Freelancer", "Lorem ipsum dolor sit")
    //- .work-list
    //-     .work-column
    //-         +workItem()
    //-         +workItem("./images/img-work2.png","fa fa-cog", "UX/UI Designer", "Lorem ipsum dolor sit")
    //-     .work-column   
    //-         +workItem("./images/img-work3.png","fa fa-camera", "Frontend Developer", "Lorem ipsum dolor sit")
    //-         +workItem("./images/img-work4.png","fa fa-cloud", "Backend Developer", "Lorem ipsum dolor sit")
    //-     .work-column
    //-         +workItem("./images/img-work5.png","fa fa-heart", "Super heart","work-item--full", "Lorem ipsum dolor sit")
    //-     .work-column
    //-         +workItem("./images/img-work6.png","fa fa-bug", "Creatively designed", "Lorem ipsum dolor sit")
    //-         +workItem("./images/img-work7.png","fa fa-wind", "Programing Freelancer", "Lorem ipsum dolor sit")
