extends layout/layout

block vars
	-title = 'Welcome to Gulp Template workflow'
	-bodyClass = 'home-page'

block container
	include blocks/about
	include blocks/number
	include blocks/service
	include blocks/device
	include blocks/wedo
	include blocks/quote
	include blocks/team
	include blocks/work
	include blocks/testimonial
	include blocks/people
	include blocks/story
	//- p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, nulla recusandae? Recusandae, corporis. Laborum repellat soluta at illum, dignissimos non optio accusamus dolor ipsa iure minus? Aperiam eum tempora cumque.
	//- div  lorem 2
	//- h2(class="heading" id="heading") This is heading title
	//- input(type="text" name="email" placeholder="Please enter your name!")
	//- form(action="#" method="post")
	//- ul.list
	//- 	+ListItem("Title 1", "Caption 1", "The end")
	//- 		p Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi distinctio perspiciatis voluptas explicabo aspernatur repellat dolorum quaerat reiciendis, soluta esse maxime facilis consequuntur fuga voluptatibus, obcaecati sapiente sunt tenetur praesentium!
	//- 	+ListItem("Title 2", "Caption 2")
	//- 	+ListItem("Title 3", "Caption 3")
	//- 	+ListItem("Title 4", "Caption 4")